<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your Vendor Registration Receipt, <%= @current.contact_name %></h1>
    <p>
      You have successfully registered at Truckers Jamboree!<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for registering and have a great day!</p>
  </body>
</html>