.container
  %form#vendor_booth{:action => "enter_booth_info", :method => "post", :class => "form-horizontal"}
    .mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
      .panel.panel-info
        .panel-heading 
          %h4 Booth Information
          = session[:company_name]
        .panel-body
          .center  
            %h2 Indoor Booths
            %p Indoor Booth(s): 10' x 10' (Quantity is limited)<br>(Two Chairs, Table Cloth and Skirt are available included.)
         
          .form-group 
            %label{:for => "number_i_booth", :class => "col-md-6 control-label"}
              Indoor Booths
            .col-md-4
              %input#number_i_booth{:max => "5", :min => "0", :name => "number_i_booth", :oninput => "calcIbooths()", :required => "", :placeholder =>"0", :step => "1", :type => "number", :class => "form-control"}
      
          .form-group
            %label{:for => "booth_i_cost", :class => "col-md-6 control-label"} 
              Cost $
            .col-md-4
              %input#booth_i_cost{:name => "booth_i_cost", :onchange => "calcCost()", :required => "", :value => "0", :readonly => "", :class => "form-control"}
          
          .form-group{:style => "border-top: 1px solid #5bc0de; padding-top:20px"}  
          .center
            %h2 Outdoor Booths
            %p Outdoor Tent(s): 10' x 10' (Quantity is limited)<br>Includes tent & display space ($500/unit)<br>(Two Chairs, Table Cloth and Skirt are included.)
            
          .form-group
            %label{:for => "number_o_booth", :class => "col-md-6 control-label"} 
              Outside Booths
            .col-md-4
              %input#number_o_booth{:max => "3", :min => "0", :name => "number_o_booth", :oninput => "calcObooths()", :required => "", :placeholder =>"0", :step => "1", :type => "number", :class => "form-control"}
            
          .form-group
            %label{:for => "booth_o_cost", :class => "col-md-6 control-label"} 
              Cost $
            .col-md-4
              %input#booth_o_cost{:name => "booth_o_cost", :onchange => "calcCost()", :required => "", :value => "0", :readonly => "", :class => "form-control"}
            
          .form-group{:style => "border-top: 1px solid #5bc0de; padding-top:20px"}     
          .center
            %h2 Cost of Booths
            
          .form-group  
            %label{:for => "booth_cost", :class => "col-md-6 control-label"} 
              Total Booth Cost $
            .col-md-4
              %input#booth_cost{:name => "booth_cost", :required => "", :value => "0", :readonly => "", :class => "form-control"}
    
          .form-group{:style => "border-top: 1px solid #5bc0de; padding-top:20px"}
            .col-md-offset-3.col-md-6 
              %input#submit{:type => "submit", :value => "Submit Booth Information", :class => "btn btn-info btn-block"}
          %p If a custom outdoor space is required follow the link below:
          = link_to 'Custom Outdoor Space', vendors_custom_booth_path 
  
    :javascript
      function calcIbooths()
      {
        var input = document.getElementById("number_i_booth");
        var cost = document.getElementById("booth_i_cost");
        var floatI = 0;
        if(input.value == "0")
        {
          floatI = 0;
          cost.value = 0;
        }
        else if(input.value == "1")
        {
          floatI = 500;
          cost.value = 500;
        }
        else if(input.value == "2")
        {
          floatI = 900;
          cost.value = 900;
        }
        else if(input.value == "3")
        {
          floatI = 1300;
          cost.value = 1300.00;
        }
        else if(input.value == "4")
        {
          floatI = 1700;
          cost.value = 1700;
        }
        else
        {
          var number = parseInt(input.value);
      	//alert(number);
      	var booths = number - 4;
      	//alert(booths);
      	var total = booths * 200 + 1700;
      	//alert(total);
      	floatI = parseFloat(total);
      	cost.value = floatI;
        } 
        calcCost(floatI);
      }
    :javascript
      function calcObooths()
      {
        var outside = document.getElementById("number_o_booth").value;
        var cost = document.getElementById("booth_o_cost");
        outside = outside * 500;
        cost.value = outside;
        calcCost();
      }
    :javascript
      function calcCost()
      {
        var costF = document.getElementById("booth_cost");
        var costI = document.getElementById("booth_i_cost").value;
        var costO = document.getElementById("booth_o_cost").value;
        var costi = parseFloat(costI);
        var costo = parseFloat(costO);
        var totalF = costi + costo;
        costF.value = totalF;
      }
  
