.container
    .mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        .panel.panel-info
            .panel-heading 
                %h4 Registration Successfull!
            .panel-body
                .form-group
                    %p Your registration information has been saved, and a confirmation email has been sent.
                    