.container  
  %form#custom_vendor_booth{:action => "enter_custom_booth_info", :method => "post", :class => "form-horizontal"}
    .mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
      .panel.panel-info
        .panel-heading 
          %h4 Custom Booth Information
        .panel-body
          %h2 Custom Tractor-Trailer Booths
    
          .form-group
            %label{:for => "trailer_select", :class => "col-md-3 control-label"} 
              Tractor/Tractor-Trailer Booth
            .col-md-9
              %select#trailer_select{:name => "trailer_select", :onchange => "calc()", :class => "form-control"}
                %option{:style => "display:none;", :value => ""}
                %option{:value => ""}
                %option{:value => "T"} Tractor only w/ table and two chairs 15x40
                %option{:value => "Tw"} Tractor Trailer w/ table and two chairs 15x80
                %option{:value => "TT"} Tractor only w/ table and two chairs 20x40
                %option{:value => "TTw"} Tractor Trailer w/ table and two chairs 20x80
                
          .form-group{:style => "border-top: 1px solid #5bc0de; padding-top:20px"} 
            %label{:for => "booth_tractor_cost", :class => "col-md-7 control-label"} 
              Cost of Tractor/Tractor-Trailer Booths $
            .col-md-4
              %input#booth_tractor_cost.form-control{:name => "booth_tractor_cost", :value => "0", :readonly => ""}
            :javascript
              function calc()
              {
                var tractorspot = document.getElementById("trailer_select").value;
                var lengthTr = document.getElementById("length");
                var widthTr = document.getElementById("width");
                var totalT = 0;
                if(tractorspot == "")
                {
                  totalT = 0;
                  lengthTr.value = "0";
                  widthTr.value = "0";
                }
                if(tractorspot == "T")
                {
                  totalT = 1875;
                  lengthTr.value = "40";
                  widthTr.value = "15";
                }
                if(tractorspot == "Tw")
                {
                  totalT = 3750;
                  lengthTr.value = "40";
                  widthTr.value = "20";
                }
                if(tractorspot == "TT")
                {
                  totalT = 2600;
                  lengthTr.value = "80";
                  widthTr.value = "15";
                }
                if(tractorspot == "TTw")
                {
                  totalT = 5050;
                  lengthTr.value = "80";
                  widthTr.value = "20";
                }
                var cost = document.getElementById("booth_tractor_cost");
                cost.value = totalT;
                calcTot();
              }
              
          .form-group{:style => "border-top: 1px solid #5bc0de; padding-top:20px"}
            %h2 Need a Custom Spot? Complete this section.
            .center
              %p
                100-200 sq. ft.	 	$3.75 per sq. ft.
                %br
                201-399 sq. ft.	 	$3.50 per sq. ft.
                %br
                400 sq. ft. and up	 	$3.25 per sq. ft.
              
          .form-group
            
            .col-md-4
              %input#widthT.form-control{:name => "widthT", :oninput => "calcSquare()", :required => "", :value => "0", :placeholder => "0"}
            %label.col-md-2.control-label{:for => "widthT"}ft. x
            .col-md-4
              %input#lengthT.form-control{:name => "lengthT", :oninput => "calcSquare()", :required => "", :value => "0", :placeholder => "0"}
            %label.col-md-2.control-label{:for => "lengthT"}ft. =
          .form-group
            .col-md-offset-2.col-md-6
              %input#square.form-control{:name => "square", :required => "", :value => "0", :readonly => ""}
            %label.col-md-2.control-label{:for => "square"}sq. ft.
          
          .form-group{:style => "border-top: 1px solid #5bc0de; padding-top:20px"}    
            %label{:for => "custom_cost", :class => "col-md-6 control-label"} 
              Cost of Custom Space $
            .col-md-4
              %input#custom_cost.form-control{:name => "custom_cost", :required => "", :value => "0", :readonly => ""}
          
          :javascript
            function calcSquare()
            {
              var widthT = document.getElementById("widthT").value;
              var lengthT = document.getElementById("lengthT").value;
              var square = document.getElementById("square");
              var lengthC = document.getElementById("length");
              var widthC = document.getElementById("width");
              widthT = parseFloat(widthT);
              lengthT = parseFloat(lengthT);
              var total = 0;
              total = widthT * lengthT;
              total = parseFloat(total);
              if(isNaN(total))
              {
                total = 0;
              }
              square.value = total;
              if(total < 200)
              {
                total = total * 3.75;
              }
              else if (total < 300)
              {
                total = total * 3.5;
              }
              else 
              {
                total = total * 3.25;
              }
              
              if(total > 0)
              {
                lengthC.value = lengthT;
                widthC.value = widthT;
              }
              else
              {
                lengthC.value = 0;
                widthC.value = 0;
              }
              var cost = document.getElementById("custom_cost");
              cost.value = total;
              calcTot();
            }
            
          .form-group{:style => "border-top: 1px solid #5bc0de; padding-top:20px"}
            %h2 Total Custom Booth Costs
            
          .form-group
            %label{:for => "length", :class => "col-md-offset-3 col-md-1 control-label"} Booth length
            .col-md-6
              %input#length.form-control{:name => "length", :required => "", :value => "0", :readonly => ""}
          
          .form-group
            %label{:for => "width", :class => "col-md-offset-3 col-md-1 control-label"} Booth width
            .col-md-6
              %input#width.form-control{:name => "width", :required => "", :value => "0", :readonly => ""}
          
          .form-group
            %label{:for => "booth_cost", :class => "col-md-offset-3 col-md-1 control-label"} $
            .col-md-6
              %input#booth_cost.form-control{:name => "booth_cost", :required => "", :value => "0", :readonly => ""}
          
          :javascript
              function calcTot()
              {
                var trailerf = document.getElementById("booth_tractor_cost").value;
                var customf = document.getElementById("custom_cost").value;
                var costF = document.getElementById("booth_cost");
              	var trailerF = parseFloat(trailerf);
              	if(trailerF > 0)
              	{
              	  document.getElementById("widthT").style.visibility = "hidden"
              	  document.getElementById("lengthT").style.visibility = "hidden"
              	  document.getElementById("square").style.visibility = "hidden"
              	}
              	if(trailerF == 0)
              	{
              	  document.getElementById("widthT").style.visibility = "visible"
              	  document.getElementById("lengthT").style.visibility = "visible"
              	  document.getElementById("square").style.visibility = "visible"
              	}
              	var customF = parseFloat(customf);
              	if(customF > 0)
              	{
              	  document.getElementById("trailer_select").style.visibility = "hidden";
              	}
              	if(customF == 0)
              	{
              	  document.getElementById("trailer_select").style.visibility = "visible";
              	}
              	var totalF = 0;
              	totalF = trailerF + customF;
              	costF.value = totalF;
              }
          .form-group    
            %label{:for => "custom_description", :class => "col-md-6 control-label"}
              Short description of space and displays with dimensions*
            .col-md-6
              %textarea#custom_description.form-control{:name => "custom_description", :pattern =>"^[A-Za-z0-9]{25,250}$", :title => "Must contain 15 characters", :required => ""}
                :preserve
                  #{session[:custom_description]}
          .form-group{:style => "border-top: 1px solid #5bc0de; padding-top:20px"}
            .col-md-offset-3.col-md-6
              %input#submit{:type => "submit", :value => "Submit Booth Information", :class => "btn btn-info btn-block"}
