.container  
  %form#vendor{:action => "enter_registration", :method => "post", :class => "form-horizontal"}
    .mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
      .panel.panel-info
        .panel-heading
          %h4 Vender Contact Information
        .panel-body
          %p
            %i Please complete the form. Mandatory fields are marked with a
            %em *
            
          .form-group
            %label{:for => "company_name", :class => "col-md-3 control-label"}
              Company Name
              *
            .col-md-9
              %input#company_name{:autofocus => "", :name => "company_name", :placeholder => "", :type => "text", :class => "form-control", :required => ""}
          
          .form-group
            %label{:for => "product", :class => "col-md-3 control-label"}
              Company Product
              %em*
            .col-md-9
              %input#product{:autofocus => "", :name => "product", :placeholder => "", :type => "text", :class => "form-control", :required => ""}
          
          .form-group
            %label{:for => "contact_name", :class => "col-md-3 control-label"}
              Contact Name
              %em *
            .col-md-9
              %input#contact_name{:autofocus => "", :name => "contact_name", :placeholder => "", :type => "text", :class => "form-control", :required => ""}
          
          .form-group{:style => "border-top: 1px solid #BB182D; padding-top:20px"}
            %label{:for => "address_street", :class => "col-md-3 control-label"}
              Street
              %em *
            .col-md-9  
              %input#address_street{:autofocus => "", :name => "address_street", :placeholder => "", :type => "text", :class => "form-control", :required => ""}
          
          .form-group  
            %label{:for => "address_city", :class => "col-md-3 control-label"}
              City
              %em *
            .col-md-9
              %input#address_city{:autofocus => "", :name => "address_city", :placeholder => "", :type => "text", :class => "form-control", :required => ""}
            
          .form-group
            %label{:for => "address_state", :class => "col-md-3 control-label"} 
              State
              %em *
            .col-md-9
              %select#address_state{:name => "address_state", :class => "form-control", :required => ""}
                %option{:style => "display:none;", :value => ""}
                %option{:value => "AL"} Alabama
                %option{:value => "AK"} Alaska
                %option{:value => "AZ"} Arizona
                %option{:value => "AR"} Arkansas
                %option{:value => "CA"} California
                %option{:value => "CO"} Colorado
                %option{:value => "CT"} Connecticut
                %option{:value => "DE"} Delaware
                %option{:value => "DC"} District Of Columbia
                %option{:value => "FL"} Florida
                %option{:value => "GA"} Georgia
                %option{:value => "HI"} Hawaii
                %option{:value => "ID"} Idaho
                %option{:value => "IL"} Illinois
                %option{:value => "IN"} Indiana
                %option{:value => "IA"} Iowa
                %option{:value => "KS"} Kansas
                %option{:value => "KY"} Kentucky
                %option{:value => "LA"} Louisiana
                %option{:value => "ME"} Maine
                %option{:value => "MD"} Maryland
                %option{:value => "MA"} Massachusetts
                %option{:value => "MI"} Michigan
                %option{:value => "MN"} Minnesota
                %option{:value => "MS"} Mississippi
                %option{:value => "MO"} Missouri
                %option{:value => "MT"} Montana
                %option{:value => "NE"} Nebraska
                %option{:value => "NV"} Nevada
                %option{:value => "NH"} New Hampshire
                %option{:value => "NJ"} New Jersey
                %option{:value => "NM"} New Mexico
                %option{:value => "NY"} New York
                %option{:value => "NC"} North Carolina
                %option{:value => "ND"} North Dakota
                %option{:value => "OH"} Ohio
                %option{:value => "OK"} Oklahoma
                %option{:value => "OR"} Oregon
                %option{:value => "PA"} Pennsylvania
                %option{:value => "RI"} Rhode Island
                %option{:value => "SC"} South Carolina
                %option{:value => "SD"} South Dakota
                %option{:value => "TN"} Tennessee
                %option{:value => "TX"} Texas
                %option{:value => "UT"} Utah
                %option{:value => "VT"} Vermont
                %option{:value => "VA"} Virginia
                %option{:value => "WA"} Washington
                %option{:value => "WV"} West Virginia
                %option{:value => "WI"} Wisconsin
                %option{:value => "WY"} Wyoming
          
          .form-group
            %label{:for => "address_zip", :class => "col-md-3 control-label"}
              Zip code
              %em *
            .col-md-9
              %input#address_zip{:name => "address_zip", :pattern => "^[0-9]{5}$",  :title => "Must contain 5 numbers", :type => "text", :class => "form-control", :required => ""}
            
          .form-group{:style => "border-top: 1px solid #BB182D; padding-top:20px"}
            %label{:for => "phone", :class => "col-md-3 control-label"} 
              Phone
              %em *
            .col-md-9
              %input#phone{:name => "phone", :pattern => "^[(]{0,1}[0-9]{3}[)]{0,1}[-\\s\\.]{0,1}[0-9]{3}[-\\s\\.]{0,1}[0-9]{4}$", :placeholder => "(xxx) xxx-xxxx",  :title => "Phone number must contain 10 digits", :type => "text", :class => "form-control", :required => ""}
            
          .form-group
            %label{:for => "fax", :class => "col-md-3 control-label"} 
              Fax
            .col-md-9
              %input#fax{:name => "fax", :pattern => "^[(]{0,1}[0-9]{3}[)]{0,1}[-\\s\\.]{0,1}[0-9]{3}[-\\s\\.]{0,1}[0-9]{4}$", :placeholder => "(xxx) xxx-xxxx", :title => "Phone number must contain 10 digits", :type => "text", :class => "form-control"}
            
          .form-group
            %label{:for => "email", :class => "col-md-3 control-label"}
              Email
              %em *
            .col-md-9
              %input#email{:name => "email", :pattern => "^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,3}$",  :title => "Email must contain mailbox/username@domain.domain", :type => "email", :class => "form-control", :required => ""}
                                     
          .form-group{:style => "border-top: 1px solid #BB182D; padding-top:20px"}
            .col-md-offset-3.col-md-6
              %input#submit{:type => "submit", :value => "Submit Contact Information", :class => "btn btn-info btn-block"}
  
