.comtainer
 .row
  .col-md-3
   %form{:action => "#", :method => "get"}
    .input-group
     %input#system-search.form-control{:name => "q", :placeholder => "Search for"}
     %span.input-group-btn
      %button.btn.btn-default{:type => "submit"}
      %i.glyphicon.glyphicon-search
  .col-md-3
   %table.table.table-list-search
    %thead
     %tr
      %th Company Name
      %th Point of Contact
      %th Company Product
      %th Contact Number
      
    %tbody
     - @vendors.each do |vendor|
      %tr
      %td= vendor.company_name
      %td= vendor.contact_name
      %td= vendor.product
      %td= vendor.phone
