.container
    %form#vendor{:action => "confirmation", :method => "post", :class => "form-horizontal"}
        .mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
            .panel.panel-info
                .panel-heading 
                    %h4 Summary of Registration
                .panel-body
                    .form-group
                        %h2 Contact Information
                        Company Name: 
                        =session[:company_name]
                        %br
                        Product: 
                        =session[:product]
                        %br
                        Contact Name: 
                        =session[:contact_name]
                        %br
                        Address: 
                        %br
                        =session[:address_street]
                        =session[:address_city]
                        =session[:address_state]
                        =session[:address_zip]
                        %br
                        Phone: 
                        =session[:phone]
                        %br
                        Fax: 
                        =session[:fax]
                        %br
                        Email:
                        =session[:email]
                        %br
                        =link_to "Edit Contact Info", vendors_summary_change_path(:page => "contact")
                    
                    .form-group{:style => "border-top: 1px solid #5bc0de; padding-top:20px"}
                        %h2 Booth Information
                        Indoor Booth/s: 
                        =session[:number_i_booth]
                        %br
                        Outdoor Booths: 
                        =session[:number_o_booth]
                        %br
                        Booth Cost: 
                        =session[:booth_cost]
                        %br
                        =link_to "Edit Booth Info", vendors_summary_change_path(:page => "booth")
                    
                    .form-group{:style => "border-top: 1px solid #5bc0de; padding-top:20px"}
                        %h2 Services Requested
                        Electricity: 
                        =session[:electric]
                        %br
                        Internet: 
                        =session[:internet]
                        %br
                        Forklift: 
                        =session[:forklift]
                        %br
                        Extra Chairs:
                        =session[:ext_chairs]
                        %br
                        Extra Tables:
                        =session[:ext_tables]
                        %br
                        Service Cost:
                        =session[:service_cost]
                        %br
                        =link_to "Edit Services Info", vendors_summary_change_path(:page => "services")
                    .form-group{:style => "border-top: 1px solid #5bc0de; padding-top:20px"}
                        .col-md-offset-3.col-md-6
                            %input#submit{:type => "submit", :value => "Approve Summary", :class => "btn btn-info btn-block"}