%h1 Summary of Registration
%h2 Contact Information
%br
Company Name: 
=@vendor.company_name
%br
Product: 
=@vendor.product
%br
Contact Name: 
=@vendor.contact_name
%br
Address: 
%br
=@vendor.address_street
=@vendor.address_city
=@vendor.address_state
=@vendor.address_zip
%br
Phone: 
=@vendor.phone
%br
Fax: 
=@vendor.fax
%br
Email:
=@user.email
%br
%h2 Booth Information
%br
Indoor Booth/s: 
=@vendor.number_i_booth
%br
Outdoor Booths: 
=@vendor.number_o_booth
%br
Booth Cost: 
=@vendor.booth_cost
%br
%h2 Services Requested
%br
Electricity: 
=@vendor.electric
%br
Internet: 
=@vendor.internet
%br
Forklift: 
=@vendor.forklift
%br
Extra Chairs:
=@vendor.ext_chairs
%br
Extra Tables:
=@vendor.ext_tables
%br
Service Cost:
=@vendor.service_cost
%br

%h1 Submission Succesful