%h1 Summary of Registration
%h2 Contact Information
Company Name: 
=@vendor.company_name
Product: 
=@vendor.product
Contact Name: 
=@vendor.contact_name
Address: 
%br
=@vendor.address_street
=@vendor.address_city
=@vendor.address_state
=@vendor.address_zip
Phone: 
=@vendor.phone
Fax: 
=@vendor.fax
Email:
=@user.email
%h2 Booth Information
Indoor Booth/s: 
=@vendor.number_i_booth
Outdoor Booths: 
=@vendor.number_o_booth
Booth Cost: 
=@vendor.booth_cost
%h2 Services Requested
Electricity: 
=@vendor.electric
Internet: 
=@vendor.internet
Forklift: 
=@vendor.forklift
Extra Chairs:
=@vendor.ext_chairs
Extra Tables:
=@vendor.ext_tables
Service Cost:
=@vendor.service_cost