// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//#BB182D;

.header {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  .logo {
      width: 100px;
      margin-right: 10px;
  }
}



