// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  .logo {
      width: 100px;
      margin-right: 10px;
  }
}

.table-responsive {
  overflow-y: auto;
  overflow-x: auto;
  min-height: 400px;
  height: 1000px;
  //height: 50%;
  //display: block;
}



