// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//#BB182D;

.header {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  .logo {
      width: 100px;
      margin-right: 10px;
  }
}

#Vendors {
  //display: block;
  //table-layout: fixed;
}

#product_heading {
  //white-space: nowrap;
}
#contact_name_heading {
  //width: 20%;
}
#contact_title_heading {
  //width: 10%;
}
#address_street_heading {
  //width: 20%;
}
#address_city_heading {
  //width: 10%;
}
#address_state_heading {
  //width: 10%;
}
#address_zip_heading {
  //width: 10%;
}
#phone_heading {
  //width: 10%;
}

#number_i_booth_heading {
  //width: 10%;
}
#booth_i_cost_heading {
  //width: 10%x;
}
#number_o_booth_heading {
  //width: 10%;
}
#booth_o_cost_heading {
  //width: 10%;
}
#width_cost_heading {
  //width: 10%;
}
#length_heading {
  //width: 10%;
}
#booth_cost_heading {
  //width: 10%;
}



